
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btn-edit{
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;

    &:hover{
        background-color: transparent !important;
        color: orange !important;
    }

}

.btn-delete{
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: red;

    &:hover{
        background-color: transparent !important;
        color: red !important;
    }

}