.section-share {
  display: flex;
  background: #f5f7fc;

  .section-container {
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
      .title-section {
        font-weight: 600;
        font-size: 25px;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        display: block;
        border: none;
        outline: none;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
    .section-body {
      .section-customize {
        margin-right: 100px;

        .bg-image {
          width: 80%;
          height: 400px;
          // background-color: red;
          background-position: center center;
          background-repeat: no-repeat !important;
          background-size: cover;
          margin-top: 20px;
          border-radius: 5px;
          margin-left: 120px;
        }
      }

      //reset slick slider css

      .slick-prev {
        left: 20px !important;
        z-index: 1000;
        height: 48px !important;
        width: 50px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #d7d7d7 !important;
        }
        border-radius: 50%;
      }
      .slick-prev:before,
      .slick-next:before {
        font-family: "chevron-right" !important;
        color: rebeccapurple !important;
      }
      .slick-next {
        border-radius: 50%;
        right: 40px !important;
        height: 48px !important;
        z-index: 1000;
        width: 50px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #eceaea !important;
        }
      }
    }
  }
}

.section-share {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .section-customize {
    cursor: pointer;
    padding: 5px;
    .customize-border {
      border: 1px solid gray;
      padding: 20px;
    }
  }
}
.homeFooter {
  text-align: center;
  padding-top: 8px;
  a {
    text-decoration: unset;
  }
}
.slick-disabled {
  display: none !important;
}
.section-about {
  padding: 0 175px;

  .section-about-header {
    padding: 20px 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .section-about-left {
      width: 49%;
    }
    .section-about-right {
      width: 49%;
    }
  }
}
